. class="keys" data = { controller: "drum"}
    . value="clap.wav" data-action="click->drum#play" class="key"
      kbd A
      span class="sound" clap
    . value="83" data-action="click->drum#play" class="key"
      kbd S
      span class="sound" hihat
    . value="68" data-action="click->drum#play" class="key"
      kbd D
      span class="sound" kick
    . value="70" data-action="click->drum#play" class="key"
      kbd F
      span class="sound" openhat
    . value="71" data-action="click->drum#play" class="key"
      kbd G
      span class="sound" boom
    . value="72" data-action="click->drum#play" class="key"
      kbd H
      span class="sound" ride
    . value="74" data-action="click->drum#play" class="key"
      kbd J
      span class="sound" snare
    . value="75" data-action="click->drum#play" class="key"
      kbd K
      span class="sound" tom
    . value="76" data-action="click->drum#play" class="key"
      kbd L
      span class="sound" tink
